body {
  text-align: center;
}

.box {
  background-color: lightgrey;
  width: 200px;
  border: 10px solid greenyellow;
  padding: 30px;
  margin: 10px;
}

img {
  width: 300px;
  height: 300px;
}

.column {
  width: 300px;
  float: left;
  margin: 50px;
}