body {
  text-align: center;
  background-color: rgb(195, 255, 254);
}

.box {
  background-color: rgb(206, 236, 252);
  width: 200px;
  border: 10px solid rgb(82, 84, 164);
  padding: 30px;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
}

.column {
  width: 300px;
  float: left;
  margin: 50px;
  background-color: chartreuse;
}

